<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="/assets/logoapp.png" alt="Logo do App"></ion-img>
  <br><br>

  <form #f="ngForm" class="form" (submit)="validLogin(f)">
    <div class="ion-padding">
      <ion-label position="stacked" color="primary"> E-mail:</ion-label>
      <ion-input type="text" name="email" minlength=3 [(ngModel)]="email" required>
      </ion-input>
    </div>
    <div class="ion-padding">
      <ion-label position="stacked" color="primary"> Senha:</ion-label>
      <ion-input type="password" name="password" minlength=6 [(ngModel)]="password" required>
      </ion-input>
    </div>
    <ion-button type="submit" name="buttonLogin" expand="block">LOGAR</ion-button>
  </form>

</ion-content>